*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vw;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 36px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

.wrapper {
    max-width: 800px;
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 8px);
}

nav {
    padding-top: 32px;
}

